body {
  position: relative;
  left: 18%;
}

#graphView, #gridView {
  position: absolute;
}

#graphButtons {
  position: relative;
  margin: 0px 5px 40px 20%;
}
.nav {
  margin-left: 20%
}

#gridButtons {
  margin: 0px 5px 9px 3%;
}

#graph {
  margin: 150px 50px 10px 50px;
}

#grid {
  margin: 10px 50px 0px 50px;
}

div.node, div.beacon {
  border: 4px solid black;
}

button.activated {
  opacity: 0.5;
}

div#graph {
  width: 800px;
  height: 600px;
  border: 3px solid black;
  margin-top: 10px;
}

rect {
  fill: none;
}

rect.lasso {
  stroke: #9CE62A;
  stroke-width: 4px;
  fill: #ADFF2F;
  opacity: 0.55;
}

svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.lassoed {
  stroke: #ADFF2F;
  stroke-width: 5px;
  stroke-dasharray: 4,4;
}

ellipse.beacon {
  fill: none;
  stroke-width: 5px;
  cursor: pointer;
}

ellipse.beacon.selected {
  stroke: #ADFF2F;
  stroke-width: 15px;
}

text.id, text.tags {
  pointer-events: none;
  text-anchor: middle;
  font-weight: bold;
}


div.node {
  border: 10 solid black;
}